AUTH_SECRET="..." # Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_GITHUB_ID="..." # Read more: https://docs.github.com/en/apps/oauth-apps/building-oauth-apps/creating-an-oauth-app
AUTH_GITHUB_SECRET="..."

DATABASE_HOST=localhost
DATABASE_NAME=med
DATABASE_USER=med
DATABASE_PASSWORD=med